.MissionAction {
    padding-top: 10px;
    padding-right: 20px;
}

.MissionAction button {
    background-color: black;
    color: white;
    margin-top: 10px;
    width: 125px;
    height: 35px;
    border-style: solid;
    border-color: #3d774e;
}